Repository capsule-corp-ternoa/ternoa-doc, pull requests merged in 2022-11, with the labels that each got.

#67 SDK-Indexer Edits
  docs/for-developers/index.md
  docs/for-developers/indexer/advanced/aggregation-plugin.md
  docs/for-developers/indexer/dictionary/index.md
  docs/for-developers/indexer/dictionary/use-dictionary.md
  docs/for-developers/sdk/cookbook.md
  docs/for-developers/sdk/events.md
  docs/for-developers/sdk/getting-started.md
  docs/for-developers/sdk/introduction.md
  docs/for-developers/sdk/sdk-workflows.md
Labels: Developers

#69 Readme update #62 : Proposal of a new structure for the README Doc.
  README.md
Labels: Fundamentals

#78 68 updating howto page
  docs/howto.md
Labels: General

#75 General Section Updates
  docs/general/accelerator-program.md
  docs/general/ambassador-program.md
  docs/general/ambassador.jpeg
  docs/general/join-the-community.md
  docs/general/staking/_category_.json
  docs/general/ternoablox.jpeg
Labels: General

#86 Rewriting Ternoa Fundamentals denominations
  README.md
  docs/for-developers/indexer/dictionary/index.md
  docs/fundamentals/_category_.json
  docs/intro.md
  docusaurus.config.js
  i18n/fr/docusaurus-plugin-content-docs/current.json
  src/components/HomepageFeatures/index.tsx
Labels: Fundamentals

#94 Update introduction.md
  docs/for-developers/sdk/introduction.md
Labels: Developers

#98 Add Analytics config preset
  docusaurus.config.js
Labels: General
